In [1]:
import os
os.getcwd()

'c:\\Users\\asus\\Desktop\\GIT PROJELER\\deryaaa'

In [2]:
print("Hello, World!")
print("Current working directory:", os.getcwd())

Hello, World!
Current working directory: c:\Users\asus\Desktop\GIT PROJELER\deryaaa

In [4]:
import pandas as pd

In [6]:
df = pd.read_csv('data.csv')

In [8]:
df

     adi   soyadi  numarasi
0  Ahmet   Gündüz         1
1  Dilek   Gündüz         2
2  Hakan  Akbulut         3

In [ ]:
ürün, batarya, ekran
iphone, 5000, 6.1
s24, 4000, 6.5




urunler = {
    "iphone": {
        "batarya": 5000,
        "ekran": 6.1
    },
    "s24": {
        "batarya": 4000,
        "ekran": 6.5
    },
    "bardak":{
        "yükseklik": 10,
        "çap": 5,
        "tip": "cam"
    }
}

In [9]:
# create sqlite database
import sqlite3
conn = sqlite3.connect('urunler.db')
c = conn.cursor()
# create table
c.execute('''CREATE TABLE urunler
             (urun text, batarya integer, ekran real)''')

# insert data
c.execute("INSERT INTO urunler VALUES ('iphone', 5000, 6.1)")
c.execute("INSERT INTO urunler VALUES ('s24', 4000, 6.5)")

In [10]:
# commit the changes
conn.commit()

In [ ]:
# nosql veritabanı oluşturma
from pymongo import MongoClient
client = MongoClient('localhost', 27017)
db = client['urunler_db']
urunler_collection = db['urunler']
# insert data
urunler_collection.insert_one({"urun": "iphone", "batarya": 5000, "ekran": 6.1})
urunler_collection.insert_one({"urun": "s24", "batarya": 4000, "ekran": 6.5})
# bardak verisi ekleme
urunler_collection.insert_one({"urun": "bardak", "yükseklik": 10, "çap": 5, "tip": "cam"})